.row
  .large-12.columns#service
    %ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3
      %li
        %h4.text-center
          Software Development
        %h1.text-center
          = icon('cubes')
        %p
          If you'd like me to participate in your project, just let me know! I have experience in web development
          projects, from front-end Javascript, HTML and CSS to back-end in Ruby.

      %li
        %h4.text-center
          Data Migration
        %h1.text-center
          = icon('exchange')
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum
      %li
        %h4.text-center
          Custom Applications
        %h1.text-center
          = icon('rocket')
        %p
          If you would like to automate your business process with
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum

.row
  .large-12.columns#about
    %h4
      About
    %p
      We are professional software developers based in Berkeley, California.
      We provide a variety of software services catering to the needs of small and medium sized businesses.
      We focus extensively on open source tools such as:
.row
  .large-12.columns
    %ul.small-block-grid-8.medium-block-grid-10.large-block-grid-12
      %li
        = image_tag('ruby.png')
      %li
        = image_tag('css3-logo.png')
      %li
        = image_tag('html5.png')
      %li
        = image_tag('postgresql.png')
      %li
        = image_tag('mysql.png')
      %li
        = image_tag('jquery.png')
      %li
        = image_tag('coffeescript.png')
      %li
        = image_tag('backbone.png')
      %li
        = image_tag('git.png')
      %li
        = image_tag('svn.png')

.row
  .large-12.columns#contact
    %h4
      Contact
    %p
      Reach us by phone at 510-833-8860 or by email via rk_consulting@gmail.com
