.row
  .large-12.columns#service
    %ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3
      %li
        %h4.text-center
          Software Design
        %h1.text-center
          = icon('gears')
        %p
          If you'd like me to help with prototyping work, UML diagram, flow chart or simple wireframes(UI) for a specific
          module or part of the product, just let me know!
      %li
        %h4.text-center
          Software Development
        %h1.text-center
          = icon('cubes')
        %p
          I have experience in web development projects, from front-end Javascript, HTML and CSS to back-end in Ruby.
          If you'd like me to participate in your project, just let me know!

      %li
        %h4.text-center
          Product Management
        %h1.text-center
          = icon('rocket')
        %p
          If you need someone to introduce software development using Agile methodology, just let me know!
          I will explain how to manage your product development through incremental, iterative work, known as sprints.

.row
  .large-12.columns#about
    %h4
      Skills
    %p
      I focus extensively on open source tools such as:
.row
  .large-12.columns
    %ul.small-block-grid-8.medium-block-grid-10.large-block-grid-12
      %li
        = image_tag('ruby.png')
      %li
        = image_tag('css3-logo.png')
      %li
        = image_tag('html5.png')
      %li
        = image_tag('postgresql.png')
      %li
        = image_tag('mysql.png')
      %li
        = image_tag('jquery.png')
      %li
        = image_tag('coffeescript.png')
      %li
        = image_tag('backbone.png')
      %li
        = image_tag('git.png')
      %li
        = image_tag('svn.png')

.row
  .large-12.columns#contact
    %h4
      Contact
    %p
      = icon('send')
      rk_consulting@gmail.com
